# k-Nearest Neighbors Classifier (k-NN)

The k-NN is the simplest classifier of machine learning area. Differently of neural networks, we did not perform a **learning**, instead, the algorithm checks the distance between the object that will be classified and other feature vectors. Due to it is simplicity, it is so much used in benchmarks of complex classifiers, like: Artificial Neural Network (**ANN**) e Suport Vector Machine (**SVM**).

## Implementation

In [2]:
# Import libraries
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
import random

In [3]:
# Original dataset
dataset = pd.read_csv('datasets/new_dataset_covertype.csv')
dataset.head()

# Targets
target = dataset.iloc[:,-1]
# Dataset without classes
data   = dataset.iloc[:,:-1]
data.head()

,elevation,aspect,slope,horiz_dist_hydro,vert_dist_hydro,horiz_dist_road,hillshade_9,hill_shade_noon,hill_shade_15,horiz_dist_fire,...,soil_type_30,soil_type_31,soil_type_32,soil_type_33,soil_type_34,soil_type_35,soil_type_36,soil_type_37,soil_type_38,soil_type_39
0,3254,75,7,365,49,3034,228,228,133,4708,...,0,0,0,0,0,0,0,0,0,1
1,3149,341,16,216,30,3241,186,215,167,3085,...,0,0,0,0,0,0,0,0,0,0
2,2972,321,10,150,13,4796,194,230,176,4607,...,0,0,0,0,0,0,0,0,0,0
3,3097,265,21,430,60,3290,162,244,218,1503,...,0,0,0,0,0,0,0,0,0,0
4,3321,286,7,660,118,797,201,240,179,968,...,0,1,0,0,0,0,0,0,0,0

In [4]:
vector = []

# Temporary cell
for i in range(54):
    vector.append(random.choice([True, False]))
    
print(vector)

[True, False, True, True, True, False, True, True, False, True, True, False, True, False, False, False, True, False, True, True, False, True, True, False, True, False, False, True, True, True, False, True, False, False, True, False, True, True, True, False, False, False, True, False, False, False, True, False, True, True, False, False, True, True]

In [5]:
# Make a slice over columns
sliced_data = data.iloc[:, vector]
sliced_data.head()

,elevation,slope,horiz_dist_hydro,vert_dist_hydro,hillshade_9,hill_shade_noon,horiz_dist_fire,wild_area_0,wild_area_2,soil_type_2,...,soil_type_20,soil_type_22,soil_type_23,soil_type_24,soil_type_28,soil_type_32,soil_type_34,soil_type_35,soil_type_38,soil_type_39
0,3254,7,365,49,228,228,4708,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,3149,16,216,30,186,215,3085,1,0,0,...,0,0,0,0,1,0,0,0,0,0
2,2972,10,150,13,194,230,4607,1,0,0,...,0,1,0,0,0,0,0,0,0,0
3,3097,21,430,60,162,244,1503,0,1,0,...,0,0,1,0,0,0,0,0,0,0
4,3321,7,660,118,201,240,968,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
knn = KNeighborsClassifier(n_neighbors = 100, algorithm = 'brute')
knn.fit(sliced_data, target)

KNeighborsClassifier(algorithm='brute', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=100, p=2,
           weights='uniform')

In [8]:
# Make prediction
print(knn.predict([sliced_data.iloc[1]]))

[1]